<% content_for :title, "Accedi" %>
<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Accedi al tuo account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">

    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_with url: session_url, class: "space-y-6" do |form| %>
        <div>
          <%= form.label :email_address, "Indirizzo email", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Inserisci il tuo indirizzo email", value: params[:email_address], class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary sm:text-sm/6" %>
          </div>
        </div>

        <div>
          <%= form.label :password, "Password", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Inserisci la tua password", maxlength: 72, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary sm:text-sm/6" %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm/6">
            <%= link_to "Password dimenticata?", new_password_path, class: "font-semibold text-primary hover:text-primary/80" %>
          </div>
        </div>

        <div>
          <%= form.submit "Accedi", class: "flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary" %>
        </div>
      <% end %>
    </div>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Non hai un account?
      <%= link_to "Registrati", new_sign_up_path, class: "font-semibold text-primary hover:text-primary/80" %>
    </p>
  </div>
</div>
