<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Aggiorna la tua password</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_with url: password_path(params[:token]), method: :put, class: "space-y-6" do |form| %>
        <div>
          <%= form.label :password, "Nuova password", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Inserisci la nuova password", maxlength: 72, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary sm:text-sm/6" %>
          </div>
        </div>

        <div>
          <%= form.label :password_confirmation, "Conferma nuova password", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Ripeti la nuova password", maxlength: 72, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary sm:text-sm/6" %>
          </div>
        </div>

        <div>
          <%= form.submit "Salva", class: "flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
